<% layout("/layouts/boilerplate") %>
<div class="row">
     <h3 class="col-6 offset-3" style="color: #fe242f;">SignUp on Wanderlust</h3>
            <br> 
      <div class="col-6 offset-3"> 
    <form action="/signup" method="post" class="needs-validation" novalidate>
            
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              name="username"
              id="username"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Field required</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              name="email"
              id="email"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Field required</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              name="password"
              id="password"
              type="password"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Field required</div>
          </div>
          <button class="btn btndiv" style="color:white; background-color: #fe242f;">SignUp</button>
        </form>
      </div>
</div>